@use "sass:color";

// $bg-gradient-start: #2c5364;
// $bg-gradient-mid: #203a43;
// $bg-gradient-end: #fafcff;
$transition-duration: 0.3s;
$sidebar-width-expanded: 260px;

.homeContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #fafcff;
  // background-size: 200% 200%;
  animation: gradientShift 8s ease-in-out infinite;

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .chatContent {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   // background-color: #111827;
//   // position: relative;
//   // overflow: hidden;

//   position: fixed;
//   top: 50px;
//   left: 0;
//   right: 0;
//   justify-self: center;
//   bottom: 0;
//   overflow-y: auto;
//   transition: position 0.3s ease;
//   background: #fafcff;

//   &.sidebarOpen {
//     top: 50px;
//     right: 0;
//     left: 260px;
//     bottom: 0;
//   }
// }

.chatContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafcff;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  transition: left $transition-duration ease, right $transition-duration ease;

  // Default state (sidebar closed)
  &.sidebarClosed {
    left: 0;
    right: 0;
  }

  // Sidebar open state
  &.sidebarOpen {
    left: $sidebar-width-expanded; // Shift left edge to accommodate sidebar
    right: 0; // Keep right edge pinned to viewport

    @media (max-width: 730px) {
      left: 0;
      right: 0;
    }
  }
}

.messagesWrapper {
  flex: 1 !important;
  overflow-y: auto;
  width: 100%;
  padding: 1rem 2rem 0;
  display: flex;
  justify-content: center;

  @media (max-width: 700px) {
    padding: 0;
  }
}

.welcomePane {
  flex: 1 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding: 1rem;
}

// chat input pinned at the bottom being the last child in a col flex layout
.chatInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
